body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    display: flex;
    font: bold 24px Arial, sans-serif;
}

h2 {
    text-align: center;
    display: flex;
    font: bold 24px Arial, sans-serif;
}

p {
    text-align: center;
    display: flex;
    font: 14px Arial, sans-serif;
}

.box {
    border: 3px solid #005EB8;
    background-color:#d3edff;
    border-radius: 10px;
    padding: 20px;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 65px;
    border: 2px solid #005EB8;
    background-color: #d2d2d2;
    border-radius: 10px;
    cursor: pointer;
}

.startButton {
    margin: 5px;
    padding: 10px 20px;
    font: bold 18px Arial, sans-serif;
    border: 2px solid #005EB8;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

