body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    display: flex;
    font: bold 24px Arial, sans-serif;
}

h2 {
    text-align: center;
    display: flex;
    font: bold 24px Arial, sans-serif;
}

p {
    text-align: center;
    display: flex;
    font: 14px Arial, sans-serif;
}

.box {
    border: 3px solid #005EB8;
    background-color: #d3edff;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 2px;
}

.box button.revealed {
    background-image: none;
}

.box button {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 0;
    border: 2px solid #005EB8;
    background-color: #d2d2d2;
    border-radius: 10px;
    cursor: pointer;

    background-image: url("../M+M.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    width: 180px;        
    height: 45px;        
    padding: 0;          
    margin: 10px; 
    font: bold 18px Arial, sans-serif;
    border: 2px solid #005EB8;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: 0.2s ease;
}

#startButton:hover {
    background-color: #e6f3ff;
    transform: scale(1.03);
    border-color: #0073d1;
}

#logo_link {
    position: absolute;
    top: 20px;
    right: 30px;
}

#logo_link img {
    width: 200px;
    height: auto;
}