@font-face {
    font-family: 'Fredoka';
    src: url('../Fredoka.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: "Fredoka", Arial, sans-serif;
}

h1 {
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
}

h2 {
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
}

p {
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.box {
    border: 3px solid #005EB8;
    background-color: #d3edff;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 10px;
    justify-content: center;
}

.box button.revealed {
    background-image: none;
}

.box button {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;

    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    
    border: 2px solid #005EB8;
    background-color: #d2d2d2;
    border-radius: 10px;
    cursor: pointer;

    background-image: url("../M+M.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    width: 180px;        
    height: 45px;        
    padding: 0;          
    margin: 10px; 
    font: bold 18px Arial, sans-serif;
    border: 2px solid #005EB8;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: 0.2s ease;
}

#startButton:hover {
    background-color: #e6f3ff;
    transform: scale(1.03);
    border-color: #0073d1;
}

#logo_link {
    position: absolute;
    top: 15px;
    right: 20px;
}

#logo_link img {
    width: 150px;
    height: auto;
}

/* responsive design */

@media (max-width: 700px) {

    h1 {
        font-size: 22px;
        padding-right: 70px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .box {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

}

@media (min-width: 701px) {
    .box {
        grid-template-columns: repeat(6, minmax(100px, 150px));
    }
}

@media (max-width: 481px) {
    #logo_link {
        top: 10px;
        right: 10px;
    }

    #logo_link img {
        width: 70px;
    }
}

@media (max-width: 391px) {
    #logo_link img {
        width: 60px;
    }
}